.nav-menu {
    position: absolute;
    top: 0%;
    left: 47%;
    color: white;
    display: flex;
}

.button {
    background: none;
    border: none;
	font: inherit;
	cursor: pointer;
}

.ig-logo {
    width: 50%;
    margin-top: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    width: 30%;
    min-width: 50px;
}


@media screen and (min-width: 1024px) { 
    .ig-logo {
    width: 25%;
    margin-top: 20px;
    }
}

